.userPhoto{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.selectedPage{
    margin-right: 10px;
}
.active {
    font-weight: bold;
}
.pagination{
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
}