.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .item {

}
.dialogsItems .item.active{
    color: greenyellow;
}
.massages {
    padding: 10px;
}

.massages .massage {

}